


  <% @jobs.each do |job| %>

    <%if job.done == false %>
      <div class = "booyah-box col-10 offset-1">
        <h2 ><%= job.title %></h2>
        <h3>Prompt: <%= job.prompt %></h3>
        <h3>Reward: <%= job.reward %> Points</h3>
        <br/>
      </div>
    <% end %>

  <% end %>

